body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    height: 50px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #e0e0e0;
}

.button.operator {
    background-color: #007bff;
    color: #fff;
}

.button.operator:hover {
    background-color: #0056b3;
}

.hist {
    background-color: #fff;
    margin-left: 75px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clearhist {
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}

.clearhist:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dis {
    cursor: default;
    border: none;
    resize: none;
}